# Project place file
/Demo_RPG.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
rojo_serve.log
globalTypes.d.luau

# Archivos de lugar generados con rojo build
build/

# Vistas de depuración del generador del mapa
world/_*.png
_pv.luau
